<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>


<form method="post" action="/login">
    Username:
    <input type="text" name="username"><br><br>
    Password:
    <input type="password" name="password"><br><br>
    <input type="submit" value="login"><br><br>
    <a href="signup">new user</a>

</form>
